/* Body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {

  background-image:url("bg.jpeg");
   background-repeat: no-repeat;
  background-size: cover;
  display: flex;
   flex-direction: row;
  flex-wrap: nowrap;
   overflow-x: hidden;
  height: 100vh;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
}

/* Sidebar */
.sidebar {
  /*width: 200px;*/
   min-width: 220px;
  width: 15vw;
  max-width: 250px;

  display: flex;
  flex-direction: column;
 
  color: black;
}
.c {
  border-right: 1px solid black;
  border-left: 1px solid black;
  background: linear-gradient(to right, #1FCCCC, #106666);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
 /* display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;*/
   display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  margin-top:20px;
 
  margin-left: 10px;
  color: white;
}

.logo img {
  height: 40px;
}

.logo .title {
  font-size: 12px;
  line-height: 1.2;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
}
.title strong {
  font-family: 'Alegreya SC', serif;
  font-size: 20px;
  margin-left: 32px;
}



/* Navigation */
.nav {
  display: flex;
  flex-direction: column;
  /*gap: 15px;*/
  margin-bottom: 30px;
}

.nav-item {
  padding: 12px 10px;
   border-top: 1px solid black;
  text-align: left;
   align-items: center;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  display:flex; 
  gap:12px;
  
}
.img1 {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  
}

.tt {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
 
}

.two {
  border-bottom: 1px solid black;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-item.active {
  background-color: orange;
  color: black;
  background-size: cover;
}

.bottom-nav {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  
}

/* Main Content */
.main-content {
  flex-grow: 1;
   padding: 40px 20px;
  position: relative;
  margin-top: 50px;
}

.main-content h2 {
  margin-bottom: 30px;
  color: white;
  text-transform: uppercase;
}

/* Trip Cards */
.trip-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: flex-start;
}

.trip-card {
  /*background: rgba(0, 0, 0, 0.3);*/
  color: white;
  padding: 20px 25px;
  border-radius: 10px;
  width: 300px;
  /*box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);*/
  background: rgba(255, 255, 255, 0.2);
 /** box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);*/
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  
}

.trip-card a {
  color: #106666;
  text-decoration: underline;
  font-weight:bold;
}

.trip-card p {
  margin: 8px 0;
   font-size: 14px;
  
}

.dropdown-icon {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: black;
}

.ar {
  height: 35px;
  width: 35px;
}
.ar1{
  margin-top:10px;
}
.pp{
  padding-bottom:5px;
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;

    overflow-x: auto;
  }

  .main-content {
    padding: 20px;
    margin-top: 20px;
  }

  .trip-cards {
    justify-content: center;
  }

  .trip-card {
    width: 90%;
  }
}

